flows.json
[{"id":"638d3ffa4b98f3b7","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"87cb0d9704e1b65a","type":"ibmiot in","z":"638d3ffa4b98f3b7","authentication":"apiKey","apiKey":"56cd5e159c369409","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":120,"wires":[["356ca412d3fa998f","66deda81d1935e13","ebbbf6b29306df5b","05dbe2f7e8a22ec8"]]},{"id":"356ca412d3fa998f","type":"debug","z":"638d3ffa4b98f3b7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":120,"wires":[]},{"id":"66deda81d1935e13","type":"function","z":"638d3ffa4b98f3b7","name":"Temparature","func":"msg.payload = msg.payload.temperature\nglobal.set('t',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":160,"wires":[["ebe6fcf128ccc293","bed15f930ade7f05"]]},{"id":"ebe6fcf128ccc293","type":"debug","z":"638d3ffa4b98f3b7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":260,"wires":[]},{"id":"ebbbf6b29306df5b","type":"function","z":"638d3ffa4b98f3b7","name":"Humidity","func":"msg.payload=msg.payload.humidity\nglobal.set('h',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":220,"wires":[["ebe6fcf128ccc293","c5130f6a2e4bbc43"]]},{"id":"bed15f930ade7f05","type":"ui_chart","z":"638d3ffa4b98f3b7","name":"","group":"780c2c222b9a8989","order":1,"width":6,"height":4,"label":"Temparature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":610,"y":160,"wires":[[]]},{"id":"c5130f6a2e4bbc43","type":"ui_gauge","z":"638d3ffa4b98f3b7","name":"","group":"780c2c222b9a8989","order":2,"width":6,"height":4,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":600,"y":220,"wires":[]},{"id":"12e60b8ba3caa753","type":"switch","z":"638d3ffa4b98f3b7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"<30","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":60,"wires":[["4ce8fcb9deddcb38"]]},{"id":"405cbb83834ffe7e","type":"debug","z":"638d3ffa4b98f3b7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":60,"wires":[]},{"id":"4ce8fcb9deddcb38","type":"http request","z":"638d3ffa4b98f3b7","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":" https://www.fast2sms.com/dev/bulkV2?authorization=LTiCBruMlm19Xxw0bSPj2OfaE5AYhJZcezvIpWRg4sykVDd8o3fnblR7yGPxcBAKXUtJNLwuZr5FOY6p&route=q&message=LOW%20HUMIDITY%20--%20%7B%7BPAYLOAD%7D%7D&language=english&flash=1&numbers=7993636199","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":440,"y":60,"wires":[["405cbb83834ffe7e"]]},{"id":"ae5bf7a823cbc282","type":"http in","z":"638d3ffa4b98f3b7","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":120,"y":520,"wires":[["404515d4d015341f"]]},{"id":"426ae789750f9b84","type":"http response","z":"638d3ffa4b98f3b7","name":"","statusCode":"","headers":{},"x":650,"y":520,"wires":[]},{"id":"404515d4d015341f","type":"function","z":"638d3ffa4b98f3b7","name":"","func":"msg.payload = {\n    'Temperature' : global.get('t'),\n    'Humidity' : global.get('h')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":520,"wires":[["426ae789750f9b84"]]},{"id":"b0ad3d17b3525ea4","type":"ui_worldmap","z":"638d3ffa4b98f3b7","group":"e707a6e5ce5eccf4","order":1,"width":0,"height":0,"name":"","lat":"16.426449","lon":"80.9989193","zoom":"12","layer":"OSMG","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS,SW","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":440,"y":340,"wires":[]},{"id":"05dbe2f7e8a22ec8","type":"function","z":"638d3ffa4b98f3b7","name":"location","func":"msg.payload = {\n    \"name\" : \"Person1\",\n    \"lat\" : msg.payload.latitude,\n    \"lon\" : msg.payload.longitude\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":300,"wires":[["3bd503a5151965d9","b0ad3d17b3525ea4","77368978b801d8e4"]]},{"id":"3bd503a5151965d9","type":"debug","z":"638d3ffa4b98f3b7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":300,"wires":[]},{"id":"77368978b801d8e4","type":"geofence","z":"638d3ffa4b98f3b7","name":"","mode":"circle","inside":"both","rad":2396.220637751328,"points":[],"centre":{"latitude":16.43017427325131,"longitude":80.9975538274739},"floor":"","ceiling":"","worldmap":false,"outputs":1,"x":420,"y":400,"wires":[["f4f3030edb0d3866","53d787c96cd24769"]]},{"id":"f4f3030edb0d3866","type":"function","z":"638d3ffa4b98f3b7","name":"","func":"msg.payload = msg.location.inarea\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":400,"wires":[["a5a1ea86402c6098","b99163d1775a5990"]]},{"id":"b99163d1775a5990","type":"debug","z":"638d3ffa4b98f3b7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":440,"wires":[]},{"id":"a5a1ea86402c6098","type":"switch","z":"638d3ffa4b98f3b7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":360,"wires":[["c0ed5f1f5679a7d6"]]},{"id":"c0ed5f1f5679a7d6","type":"function","z":"638d3ffa4b98f3b7","name":"","func":"msg.payload = \"Truck has reached the destination point!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":360,"wires":[["b99163d1775a5990"]]},{"id":"53d787c96cd24769","type":"ui_toast","z":"638d3ffa4b98f3b7","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"msg.payload","topic":"truck has reached the destination","name":"notification","x":590,"y":340,"wires":[]},{"id":"56cd5e159c369409","type":"ibmiot","name":"API Key","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"780c2c222b9a8989","type":"ui_group","name":"Sensor Data","tab":"d3efa2b41fd9308e","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"e707a6e5ce5eccf4","type":"ui_group","name":"Map","tab":"d3efa2b41fd9308e","order":2,"disp":true,"width":20,"collapse":false,"className":""},{"id":"d3efa2b41fd9308e","type":"ui_tab","name":"MRECW Demo","icon":"dashboard","disabled":false,"hidden":false}]